body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker img {
    width: 23px;
    position: relative;
    top: 1em;
    margin: auto;
    display: block;
}

.marker {
    width: 30px;
    height: 40px;
    padding: 1em;
    border-radius: 100%;
    background-image: url("images/bottle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.play-button {
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 1em;
    bottom: 2em;
    border-radius: 50%;
    padding: 0.5em;
    background-image: url("images/play.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    z-index: 3;
    cursor: pointer;
}