body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker img {
    width: 23px;
    position: relative;
    top: 1em;
    margin: auto;
    display: block;
}

.marker {
    width: 30px;
    height: 40px;
    padding: 1em;
    border-radius: 100%;
    background-image: url("images/bottle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.play-button {
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 1em;
    bottom: 2em;
    border-radius: 50%;
    padding: 0.5em;
    background-image: url("images/play.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    z-index: 3;
    cursor: pointer;
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

.side-panel {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 98.8vh;
    background-color: grey;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 5px;
    border-radius: 5px;
    z-index: 1;
    padding: 5px;
}

.map-change-btn {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 49.8%;
    height: 100%;
    background-color: grey;
    z-index: 1;
    padding: 3px;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 5px;
}

.button-container {
    position: absolute;
    left: 0;
    padding-left: 1px;
    top: 0;
    width: 100%;
    height: 4%;
}